@CHARSET "UTF-8";
body{
	height: 100%;
    /*用于隐藏滚动条*/
    overflow-y: hidden;
}
a {
    color: #08c;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
@media screen and (min-width: 1120px){
	.nav-modal {
	    display: none;
	}
	.nav-small {
		display: none;
	}
	.p_left{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 15%;
		height: 100%;
		background-color: #2A2935;
		overflow:hidden;
	}
	.p_body{
		position: absolute;
		top: 0;
		left: 15%;
		right: 0;
		bottom: 0;
		overflow: auto;
	}
	.p_top{
		position: absolute;
		top: 0;
		left: 15%;
		right: 0;
		height: 0;
		display: none;
	}
	.p_right{
		position: absolute;
		top: 0;
		width:0;
		right: 0;
		bottom: 0;
		height: 100%;
		overflow:hidden;
		display: none;
	}
	.p_bottom{
		position: absolute;
		bottom: 0;
		left: 15%;
		right: 0;
		height: 0;
		display: none;
	}
	.entry{
		text-align: right;
		padding-right: 20px;
		padding-top: 6px;
		padding-bottom: 6px;
		width: auto;
	}
	.menu_img{
		display: none;
	}
	.menu_jiange{
		height:50px; 
	}
	.body_top_jiange{
		height: 50px;
	}
	.menu_hidden{
	margin-left: -15%;
	}
}
@media screen and (max-width: 1120px){
	.nav-modal {
		left:0;
		top:0;
	    width: 100%;
	    height:100%;
	    position: absolute;
	    background-color: rgba(0, 0, 0, 0.52);
	    display: none;
	    z-index: 10002;
	}
	.nav-small {
		left:-200px;
		top:0;
	    width: 200px;
	    height:100%;
	    position: absolute;
	    background-color: white;
	    z-index: 10003;
	    overflow-x: hidden;
	    overflow-y: auto;
	}
	.p_left{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 50px;
		height: 100%;
		background-color: #2A2935;
		display: none;
	}
	.p_body{
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: auto;
	}
	.p_top{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 40px;
	}
	.p_right{
		position: absolute;
		top: 0;
		width:0;
		right: 0;
		bottom: 0;
		height: 100%;
		overflow:hidden;
		display: none;
	}
	.p_bottom{
		position: absolute;
		bottom: 0;
		left: 15%;
		right: 0;
		height: 0;
		display: none;
	}
	.entry{
		padding-top: 1px;
		padding-bottom: 0px;
		width: 50px;
		height:23px;
		font-size: 0px;
	}
	.menu_img{
	}
	.menu_jiange{
	}
	.body_top_jiange{
		height: 10px;
	}
	.menu_hidden{
		margin-left: -50px;
	}
}
.body_full{
	left: 0px;
}
.p_body_right{
	float: right;
	top: 0;
	right: 0;
	bottom: 0;
	width: 15%;
}
.my_logo{
	border: 0px solid red;
	height: 50px;
	background-color: #1E1D26;
	color:#11e397;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:  22px;
	position: relative;
	line-height: 20px;
}
.my_logo_child1{
	position: absolute;
    top: 50%;
    right:0;
    transform: translateY(-50%);
}
.my_logo_child2{
	position: absolute;
    top: 50%;
    right:50px;
    transform: translateY(-50%);
}
