<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zs.dao.FundInfoMapper">
  <resultMap id="BaseResultMap" type="com.zs.entity.FundInfo">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
    <result column="scale" jdbcType="VARCHAR" property="scale" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="company" jdbcType="VARCHAR" property="company" />
    <result column="grade" jdbcType="INTEGER" property="grade" />
    <result column="buy_min" jdbcType="DOUBLE" property="buyMin" />
    <result column="buy_rate" jdbcType="DOUBLE" property="buyRate" />
    <result column="sellout_rate_one" jdbcType="DOUBLE" property="selloutRateOne" />
    <result column="sellout_rate_two" jdbcType="DOUBLE" property="selloutRateTwo" />
    <result column="sellout_rate_three" jdbcType="DOUBLE" property="selloutRateThree" />
    <result column="manager_rate" jdbcType="DOUBLE" property="managerRate" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    id, manager, scale, type, company, grade, buy_min, buy_rate, sellout_rate_one, sellout_rate_two, 
    sellout_rate_three, manager_rate, create_date, name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_info
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fund_info
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zs.entity.FundInfo">
    insert into fund_info (id, manager, scale, 
      type, company, grade, 
      buy_min, buy_rate, sellout_rate_one, 
      sellout_rate_two, sellout_rate_three, manager_rate, 
      create_date, name)
    values (#{id,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR}, #{scale,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{buyMin,jdbcType=DOUBLE}, #{buyRate,jdbcType=DOUBLE}, #{selloutRateOne,jdbcType=DOUBLE}, 
      #{selloutRateTwo,jdbcType=DOUBLE}, #{selloutRateThree,jdbcType=DOUBLE}, #{managerRate,jdbcType=DOUBLE}, 
      #{createDate,jdbcType=DATE}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.FundInfo">
    insert into fund_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="manager != null">
        manager,
      </if>
      <if test="scale != null">
        scale,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="company != null">
        company,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="buyMin != null">
        buy_min,
      </if>
      <if test="buyRate != null">
        buy_rate,
      </if>
      <if test="selloutRateOne != null">
        sellout_rate_one,
      </if>
      <if test="selloutRateTwo != null">
        sellout_rate_two,
      </if>
      <if test="selloutRateThree != null">
        sellout_rate_three,
      </if>
      <if test="managerRate != null">
        manager_rate,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="name != null">
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        #{scale,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="buyMin != null">
        #{buyMin,jdbcType=DOUBLE},
      </if>
      <if test="buyRate != null">
        #{buyRate,jdbcType=DOUBLE},
      </if>
      <if test="selloutRateOne != null">
        #{selloutRateOne,jdbcType=DOUBLE},
      </if>
      <if test="selloutRateTwo != null">
        #{selloutRateTwo,jdbcType=DOUBLE},
      </if>
      <if test="selloutRateThree != null">
        #{selloutRateThree,jdbcType=DOUBLE},
      </if>
      <if test="managerRate != null">
        #{managerRate,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.FundInfo">
    update fund_info
    <set>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
      <if test="scale != null">
        scale = #{scale,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="company != null">
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="buyMin != null">
        buy_min = #{buyMin,jdbcType=DOUBLE},
      </if>
      <if test="buyRate != null">
        buy_rate = #{buyRate,jdbcType=DOUBLE},
      </if>
      <if test="selloutRateOne != null">
        sellout_rate_one = #{selloutRateOne,jdbcType=DOUBLE},
      </if>
      <if test="selloutRateTwo != null">
        sellout_rate_two = #{selloutRateTwo,jdbcType=DOUBLE},
      </if>
      <if test="selloutRateThree != null">
        sellout_rate_three = #{selloutRateThree,jdbcType=DOUBLE},
      </if>
      <if test="managerRate != null">
        manager_rate = #{managerRate,jdbcType=DOUBLE},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.FundInfo">
    update fund_info
    set manager = #{manager,jdbcType=VARCHAR},
      scale = #{scale,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      company = #{company,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      buy_min = #{buyMin,jdbcType=DOUBLE},
      buy_rate = #{buyRate,jdbcType=DOUBLE},
      sellout_rate_one = #{selloutRateOne,jdbcType=DOUBLE},
      sellout_rate_two = #{selloutRateTwo,jdbcType=DOUBLE},
      sellout_rate_three = #{selloutRateThree,jdbcType=DOUBLE},
      manager_rate = #{managerRate,jdbcType=DOUBLE},
      create_date = #{createDate,jdbcType=DATE},
      name = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="queryFenye" resultMap="BaseResultMap" parameterType="com.zs.entity.other.EasyUIAccept">
  	select * from fund_info
  	<where>
  		<if test="date1!=null"><!-- date1:成立时间开始 -->
	  		and create_date >= #{date1}
  		</if>
  		<if test="date2!=null"><!-- date1:成立时间结束 -->
  			and create_date &lt;= #{date2}
  		</if>
  		<if test="str1!=null"><!-- str1:基金编号 -->
  			and id = #{str1}
  		</if>
  		<if test="str2!=null"><!-- str2:基金名称 -->
  			and name like '%${str2}%' 
  		</if>
  		<if test="str3!=null"><!-- str3:基金经理 -->
  			and manager like '%${str3}%'
  		</if>
  		<if test="str4!=null"><!-- str4:用户公司 -->
  			and company like '%${str4}%' 
  		</if>
  	</where>
  	<if test="sort!=null and order!=null">
  		order by ${sort} ${order}
  	</if>
  	<if test="sort==null and order==null">
  		order by id
  	</if>
  	limit ${start},${rows}
  </select>
  
  <select id="getCount" resultType="int" parameterType="com.zs.entity.other.EasyUIAccept">
  	select count(*) from fund_info
  	<where>
  		<if test="date1!=null"><!-- date1:成立时间开始 -->
	  		and create_date >= #{date1}
  		</if>
  		<if test="date2!=null"><!-- date1:成立时间结束 -->
  			and create_date &lt;= #{date2}
  		</if>
  		<if test="str1!=null"><!-- str1:基金编号 -->
  			and id = #{str1}
  		</if>
  		<if test="str2!=null"><!-- str2:基金名称 -->
  			and name like '%${str2}%' 
  		</if>
  		<if test="str3!=null"><!-- str3:基金经理 -->
  			and manager like '%${str3}%'
  		</if>
  		<if test="str4!=null"><!-- str4:用户公司 -->
  			and company like '%${str4}%' 
  		</if>
  	</where>
  </select>
  
  
  <select id="selectAllFundByUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fund_info
    where id in(
    	select fi_id from fund_trade
    	where u_id=#{uid}
    )
  </select>
  
  
</mapper>