<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zs.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.zs.entity.Users" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="usernum" property="usernum" jdbcType="VARCHAR" />
    <result column="userpass" property="userpass" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mail" property="mail" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="rids" property="rids" jdbcType="VARCHAR" />
    <result column="img" property="img" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, usernum, userpass, name, mail, phone, isdelete, create_time, rids ,img
  </sql>
  <sql id="no_password_Column_List" >
    id, usernum, name, mail, phone, isdelete, create_time, rids ,img
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="no_password_Column_List" />
    from users
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from users
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zs.entity.Users" >
    insert into users (id, usernum, userpass, 
      name, mail, phone, 
      isdelete, create_time, rids ,img
      )
    values (#{id,jdbcType=INTEGER}, #{usernum,jdbcType=VARCHAR}, #{userpass,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{isdelete,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{rids,jdbcType=VARCHAR}, 
      #{img,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zs.entity.Users" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="usernum != null" >
        usernum,
      </if>
      <if test="userpass != null" >
        userpass,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="mail != null" >
        mail,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="isdelete != null" >
        isdelete,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="rids != null" >
        rids,
      </if>
      <if test="img != null" >
        img,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="usernum != null" >
        #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rids != null" >
        #{rids,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        #{img,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zs.entity.Users" >
    update users
    <set >
      <if test="usernum != null" >
        usernum = #{usernum,jdbcType=VARCHAR},
      </if>
      <if test="userpass != null" >
        userpass = #{userpass,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="mail != null" >
        mail = #{mail,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        isdelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rids != null" >
        rids = #{rids,jdbcType=VARCHAR},
      </if>
      <if test="img != null" >
        img = #{img,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zs.entity.Users" >
    update users
    set usernum = #{usernum,jdbcType=VARCHAR},
      userpass = #{userpass,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      mail = #{mail,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      isdelete = #{isdelete,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      rids = #{rids,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByNumAndPass" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="no_password_Column_List" />
    from users
    where usernum = #{num,jdbcType=VARCHAR} and userpass=#{pass,jdbcType=VARCHAR}
  </select>
  <select id="selectByNum" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where usernum = #{num,jdbcType=VARCHAR}
  </select>
  
  <select id="queryFenye" resultMap="BaseResultMap" parameterType="com.zs.entity.other.EasyUIAccept">
  	select 
  	<if test="int1==null"><!-- int1:不显示密码 -->
	  	<include refid="no_password_Column_List" /> 
  	</if>
  	<if test="int1!=null"><!-- int1:显示密码 -->
	  	<include refid="Base_Column_List" /> 
  	</if>
  	from users
  	<where>
	  	<if test="date1!=null"><!-- date1:创建时间开始 -->
	  		and create_time >= #{date1}
  		</if>
  		<if test="date2!=null"><!-- date1:创建时间结束 -->
  			and create_time &lt;= #{date2}
  		</if>
  		<if test="str1!=null"><!-- str1:账号 -->
  			and usernum like '${str1}%'
  		</if>
  		<if test="str2!=null"><!-- str2:名字 -->
  			and name like '${str2}%'
  		</if>
  	</where>
  	<if test="sort!=null and order!=null">
  		order by ${sort} ${order}
  	</if>
  	limit ${start},${rows}
  </select>
  <select id="getCount" resultType="int" parameterType="com.zs.entity.other.EasyUIAccept">
  	select count(id) from users
  	<where>
  		<if test="date1!=null"><!-- date1:创建时间开始 -->
	  		and create_time >= #{date1}
  		</if>
  		<if test="date2!=null"><!-- date1:创建时间结束 -->
  			and create_time &lt;= #{date2}
  		</if>
  		<if test="str1!=null"><!-- str1:账号 -->
  			and usernum like '${str1}%'
  		</if>
  		<if test="str2!=null"><!-- str2:名字 -->
  			and name like '${str2}%'
  		</if>
  	</where>
  </select>
  
</mapper>